<section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">Om oss</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">Vår affärsidé innebär att vi vill erbjuda ett brett sortiment samt ge tips och råd om matlagning

            Vi har specialiserat oss på thaimat. Färska grönsaker kommer direkt från Thailand med flyg varje onsdag.

            Ni får välja bland färsk koriander (Pak chee), salladslök, basilika, chilifrukter (Prik che pha), citrongräs (Ta krai), kaffirlimeblad (Ma krut), galanga (Kha) och många andra exotiska kryddor, frukter och grönsaker.

            Vi ger gärna råd om vilka kryddor som bör kombineras för att ge den rätta smaken, ett exempel är koriander som skall användas ihop med salladslök i det thailändska köket.
          </p>
        </div>
      </div>
    </div>
  </section>
