<section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">Om oss</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">
	  Välkommen till natursköna Ronneby Brunnsparks Café och Restaurang.i<br>
	  I våra fina lokaler i den vackra Brunnsparken finner du möjlighet till rekreation.<br> Här kan du ta del av vacker natur och slappna av.
	  I vår restaurang har du möjlighet att äta svensk husmanskost av hög kvalitet under hela året.<br>
Ronneby Brunnspark byggdes redan under början av 1700-talet och 1705 upptäckte befolkningen den första källan med mineralrikt vatten. Upptäckten ledde till att folk vallfärdade till Ronneby Brunnspark för att ta del av hälsokuren. 
	  
	  </p>
        </div>
      </div>
    </div>
  </section>
