<section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">Om oss</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">Vi erbjuder ett brett sortiment med färska, direktimporterade, asiatiska grönsaker. Dessa levereras till oss varje tisdag.

            Siam Shop har även ett stort utbud med chilisåser, fisksåser, konserver, nudlar, pasta, mixer och djupfryst.
</br></br>
            Butiken är mer än en vanlig livsmedelsbutik, den  har blivit en social knutpunkt för många människor som är intresserade av Thailand och thailändsk mat.

            Hos oss kan du få många tips om spännande recept och  kryddningar.
</br></br>
            Siam Shop ligger i stan nära ett parkeringshus.
            Parkering finns även på gatan framför affären.
</br></br>
            Har du några frågor är du välkommen att kontakta oss!
         </p>
        </div>
      </div>
    </div>
  </section>
