

<h5>Ingredienser</h5>
<p>
3 dl kokat jasminris</br>
3 morötter</br>
1/2 ananas</br>
1 dl majs</br>
2 ägg</br>
3 msk ljus soja</br>
2 msk olja</br>
1/2 dl cashewnötter</br>
salt, chili & peppar</br>
koriander, salladslök, spenat</br>
</p>

<h5>Tillagning</h5>
<p>
  Hacka morötter och ananas, stek i olja. Tillsätt majs och nötter.
  Kläck ett ägg i mitten av stekpannan och låt stelna något innan
  omrörning. Vänd i det kokta riset. Krydda med soja, salt, chili och
  peppar. Garnera med korainder, salladslök och spenat.
  Klart att servera!
  </p>

  <p>
    Ingredienser finns att köpa på Siam Shop
    </p>
