<!DOCTYPE html>
<html lang="en">

  <head>
    <h1>Hoytad - Stekta Grönmusslor</h1>
  </head>

  <body id="page-top">
   500g grönmusslor, frityrsmet, böngroddar, sojasås, peppar, salladslök, chilisås, olja
   </br></br>
   1. Blanda till frityrsmelet, krydda den med soja och peppar </br>
   2. Hetta upp olja i kastrull och häll i den kryddade firytsmeten </br>
   3. Vänd i musselköttet och vänta tills de är krispiga på båda sidorna </br>
   4. Stek böngroddar till musslorna </br>
   5. Krydda med salladslök och chilisås
  </body>

</html>
